<div class="wrapper">
  <div class="welcomeText" style="text-align:center">
    <h1 class="header">
      Hotel Reservation Register
    </h1>
  </div>
  <div class="tropicalMain">
    <img class="tropicalMainImg" src="../../assets/images/tropicalMain.jpg">      
  </div>
  <div style="text-align:left" class="angularLogo">
      <img width="30" class="angularIcon" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">    
  </div>
</div>
<!-- multistep form -->
<form id="msform" (ngSubmit)="registerSubmit()" #userRegistration="ngForm" name ="userRegistration">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Account Setup</li>
    <li>Personal Details</li>
    <li>Result</li>
  </ul>
  <!-- fieldsets -->
  <fieldset id="f1">
    <h2 class="fs-title">Create your account</h2>
    <h3 class="fs-subtitle">This is step 1</h3>
    <mat-form-field class="email">
      <input matInput placeholder="Email" name="email" [formControl]="emailFormControl" [pattern]="emailPattern" required>
      <mat-error class="example-full-width" *ngIf="emailFormControl.errors?.required">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error class="example-full-width" *ngIf="emailFormControl.errors?.pattern">
        Email is <strong> invalid</strong>
      </mat-error>
      
    </mat-form-field>
    <mat-form-field class="userName">
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl" [minlength]="5" name="p" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error class="example-full-width" *ngIf="passwordFormControl.errors?.required">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error class="example-full-width" *ngIf="passwordFormControl.errors?.minlength">
          Password must be at least <strong>5 characters</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="userName">
        <input matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'" [formControl]="confirmpasswordFormControl">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-error class="example-full-width" *ngIf="confirmpasswordFormControl.value.length > 0 && (passwordFormControl.value!=confirmpasswordFormControl.value)">
      Password and Confirm Password do not<strong> match</strong>
    </mat-error>
    <mat-chip-list>
      <mat-chip [selected]="isSelectedStep1" (click)="validateFirstnext(emailFormControl.errors?.pattern, 
      emailFormControl.hasError('required'), passwordFormControl.hasError('required'), confirmpasswordFormControl.hasError('required'))" [color]="availableColors[1].color">
        <div class="firstNext">{{availableColors[1].name}}</div>
      </mat-chip>
    </mat-chip-list>  
  </fieldset>
  <fieldset id="f2">
    <h2 class="fs-title">Personal Details</h2>
    <h3 class="fs-subtitle">We will never sell it</h3>
    
    <table>
      <tr>
        <td id="col1">
          <mat-form-field class="fName">
            <input matInput placeholder="Full Name" class="iFname" name="firstName" [formControl]="firstNameFormControl" [pattern]="fullnamePattern" required>
            <mat-error class="example-full-width" *ngIf="firstNameFormControl.errors?.pattern">
              Invalid <strong> full name</strong>
            </mat-error>
            <mat-error class="example-full-width" *ngIf="firstNameFormControl.errors?.required">
              Full name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
        
        <td>
          <mat-form-field class="lName">
            <input matInput placeholder="Username" name="lastName" [formControl]="lastNameFormControl" [pattern]="usernamePattern" required>
            <mat-error class="example-full-width" *ngIf="lastNameFormControl.errors?.pattern">
              Invalid <strong> username</strong>
            </mat-error>
            <mat-error class="example-full-width" *ngIf="lastNameFormControl.errors?.required">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>   
      </tr>

      <tr>
        <td>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date of Birth" name="dateBirth" [formControl]="dateBirthFormControl" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error class="example-full-width" *ngIf="dateBirthFormControl.errors?.required">
              Date of Birth is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width">
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput placeholder="Telephone" name="number" [formControl]="numberControl" [pattern]="numberPattern" required>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error class="example-full-width" *ngIf="numberControl.errors?.pattern">
              Telephone number is <strong>invalid</strong>
            </mat-error>
            <mat-error class="example-full-width" *ngIf="numberControl.errors?.required">
              Telephone number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Address
                </mat-panel-title>
                <mat-panel-description>
                  Info
                </mat-panel-description>
              </mat-expansion-panel-header>
              
              <mat-form-field>
                  <input matInput placeholder="Street" id="street" name="street" [formControl]="streetControl" required #search>
                  <mat-error class="example-full-width" *ngIf="streetControl.errors?.required">
                    Street is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              <mat-form-field>
                  <input matInput placeholder="Postal Code" name="postalCode" [formControl]="postalCodeControl" required>
                  <mat-error class="example-full-width" *ngIf="postalCodeControl.errors?.required">
                    Postal Code is <strong>required</strong>
                  </mat-error>
              </mat-form-field>

            </mat-expansion-panel>      
          </mat-accordion>
        </td>
      </tr>
    </table>

    <mat-chip-list>
      <mat-chip [selected]="isSelectedStep2" (click)="validateSecondnext(firstNameFormControl.hasError('required'), firstNameFormControl.errors?.pattern,
      lastNameFormControl.hasError('required'), lastNameFormControl.errors?.pattern,
      dateBirthFormControl.hasError('required'), numberControl.hasError('required'),
      numberControl.errors?.pattern, streetControl.hasError('required'),
      postalCodeControl.hasError('required'))" [color]="availableColors[1].color">
        <div class="firstNext">{{availableColors[1].name}}</div>
      </mat-chip>
    </mat-chip-list>
    <mat-chip-list>
        <mat-chip selected (click)="firstprevCall()" [color]="availableColors[1].color">
          <div class="firstPrev">Previous</div>
        </mat-chip>
    </mat-chip-list>   
  </fieldset>


  <fieldset id="f3">
    <h2 class="fs-title">Result</h2>
    <h3 class="fs-subtitle">Here is what you entered</h3>
    <table>
      <tr>
        <td>
          {{emailFormControl.value}}
        </td>  
      </tr>
      <tr>
        <td>
          {{firstNameFormControl.value}}
        </td>  
      </tr> 
      <tr>
        <td>
          {{lastNameFormControl.value}}
        </td>  
      </tr>
      <tr>
        <td>
          {{dateBirthFormControl.value}}
        </td>  
      </tr>
      <tr>
        <td>
          {{numberControl.value}}
        </td>  
      </tr>
      <tr>
        <td id="streetValue">
        </td>  
      </tr>
      <tr>
        <td>
          {{postalCodeControl.value}}
        </td>  
      </tr>  
    </table> 
    <mat-chip-list>
      <mat-chip class="registerChip" (click)="registerSubmit()" selected [color]="availableColors[1].color">
        <div class="register">Register</div>
      </mat-chip>
      <mat-chip selected class="prevChip" (click)="secondprevCall()" [color]="availableColors[1].color">
        <div class="secondPrev">Previous</div>
      </mat-chip>
    </mat-chip-list>
  </fieldset>
</form>