#dialogBox{
    position: relative;
}

#dialogBox .mainImgDialog{
    position: absolute;
    width: 501.2px; 
    height: 250px;
    top: -25px;
    left: -5.5%;

}
#dialogBox #dialogWrapper{
    
    position: absolute;
    width: 500px;
    height: 451px;
    top: 225px;
    left: -5.3%;
    background-color: rgba(0, 0, 0, 0.79);
}

#dialogBox #dialogContent{
    position: absolute;
    top: 50px;
    color: white;
}