<div id="dialogBox"> 
  <img class="mainImgDialog" *ngIf="data.no_data == false" src="{{data.imageUrl}}" mat-dialog-title>
  <img class="mainImgDialog" *ngIf="data.no_data == true" src="{{data.imageUrl}}" mat-dialog-title>
  <div id="dialogWrapper">
    <mat-dialog-content id="dialogContent">
      <div id="address" align="center">
        {{data.resAddress}}
      </div>

      <mat-table [dataSource]="commentsData" id="reviewTable" class="mat-elevation-z8"
      infiniteScroll class="content" [scrollWindow]="false" [perfectScrollbar]="config" [infiniteScrollThrottle]="3000">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef id="cellDef"><div id="reviews"> Reviews for {{data.resName}}</div></mat-header-cell>
          <mat-cell *matCellDef="let element" id="cellData">
            <div id="reviewText">{{element.review_text}}</div>
            <div id="reviewTime">{{element.review_time_friendly}}</div>
            <img id="profileImage" src="{{element.user.profile_image}}">
            <div id="name">- {{element.user.name}}</div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-dialog-content>
    <button mat-raised-button id="addFavButton">
      <img class="addImage" src="../../assets/images/plusIcon.png">
      <div id="favWriting">
        Add to Favourites
      </div>
    </button>
  </div>
</div>
<div class="lds-ellipsis" *ngIf="loading"><div></div><div></div><div></div><div></div></div>
