#dialogBox{
    position: relative;
}

#dialogBox .mainImgDialog{
    position: absolute;
    width: 501.2px; 
    height: 250px;
    top: -25px;
    left: -5.5%;

}

#dialogBox #dialogContent{
    position: absolute;
    top: 250px;
    
}