#dialogBox{
    position: relative;
}

#dialogBox .mainImgDialog{
    position: absolute;
    width: 501.2px; 
    height: 250px;
    top: -25px;
    left: -5.5%;

}
#dialogBox #dialogWrapper{
    
    position: absolute;
    width: 500px;
    height: 451px;
    top: 225px;
    left: -5.3%;
    background-color: rgba(0, 0, 0, 0.79);
}

#dialogBox #addFavButton{
    position: absolute;
    top: 380px;
    left: 25px;
    height: 50px;
    width: 450px;
    background-color: rgba(128, 128, 128, 0.68);
}
#dialogBox #addFavButton .addImage{
    position: absolute;
    left: 140px;
    top: 15px;
    height: 20px;
    width: 20px;
}

#dialogBox #addFavButton #favWriting{
    position: relative;
    color: white;
    font-weight: bold;
}
#dialogBox #dialogContent #address{
    position: absolute;
    top: 25px;
    left: 10px;
    color: white;
}

#reviewTable{
    position: absolute;
    height: 280px;
    width: 88%;
    top: 75px;
    left: 25px;
}

#reviewTable #cellData{
    background-color: rgba(0, 0, 0, 0.83);
    border-bottom: 1px solid white;
    position: relative;
}

#reviewTable #cellData #reviewText{
    color: white;
    position: relative;
}
#reviewTable #cellDef{
    background-color: rgba(0, 0, 0, 0.83);
    border-bottom: 1px solid white;
    position: relative;
}
#reviewTable #cellDef #reviews{
    color: white;
    left: 45%;
    position: relative;
}