<div class="linebold"></div>
<div class="linenormal"></div>
<div id="myFavs"> My Favourites  </div>
<perfect-scrollbar style="max-width: 600px; max-height: 400px;" [config]="config"></perfect-scrollbar>
<div class="test">
    <div id="sort" align="center">Sort By:</div>
    <mat-radio-group class="example-radio-group" [(ngModel)]="selectedCategory">
      <mat-radio-button (click)="radioClick(x)" *ngFor="let x of collections_title" [value]="x">
        <div id="text">{{x}}</div>
      </mat-radio-button>
    </mat-radio-group>

    <div class="search-button">
        <button mat-flat-button id="search" (click)=searchClick() [disabled]="isDisabledSearch">Search</button>  
    </div>
  </div>

<mat-table [dataSource]="dataSources" id="table" class="mat-elevation-z8"
infiniteScroll class="content" (scrolled)="getImages()" [scrollWindow]="false" [perfectScrollbar]="config" [infiniteScrollThrottle]="3000">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- id Column -->
  <ng-container matColumnDef="id">
   
    <mat-header-cell *matHeaderCellDef><div id="title"> Restaurants Near You </div></mat-header-cell>
    <div *ngIf="!this.noData">
      <mat-cell id="cellWithData" *matCellDef="let element" (click)="test(element)">
        <div id="restaurantInfo">
          <div *ngIf="element.featured_image!='' && !this.noData">
            <img src="{{element.featured_image}}"> 
            <div id="elementInfo">
              {{element.name}}
            </div>
            <div id="elementType">
              {{element.cuisines}}
            </div>
            <div id=ratings>
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                </span>
              </ng-template>
              <ngb-rating [(rate)]="element.user_rating.aggregate_rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
            </div>
            <div id="numberRating">
              <font color="element.user_rating.rating_color">{{element.user_rating.aggregate_rating}}</font>
            </div>
          </div>
          <div *ngIf="element.featured_image=='' && !this.noData">
            <img src="../../assets/images/noImage.png"> 
            <div id="elementInfo">
              {{element.name}}
            </div>
            <div id="elementType">
              {{element.cuisines}}
            </div>
            <div id=ratings>
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
                </span>
              </ng-template>
              <ngb-rating [(rate)]="element.user_rating.aggregate_rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
            </div>
            <div id="numberRating">
             <font color="element.user_rating.rating_color">{{element.user_rating.aggregate_rating}}</font> 
            </div>
          </div>
        </div>
      </mat-cell>
    </div>
    <div id="cellWithNoData" *ngIf="this.noData">
        <mat-cell id="cellWithNoData" *matCellDef="let element" (click)="test(element)">
          <div id="restaurantNoData">
            <div id="imageDiv" *ngIf="this.noData"><img src="../../assets/images/noData.png"></div>
          </div>
        </mat-cell>
    </div>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
<div class="lds-ellipsis" *ngIf="loading"><div></div><div></div><div></div><div></div></div>
