:root {
    --myVar: ; 
}
#cuisine-card{
    position: absolute;
    top: 0px;
}
#table{
    position: absolute;
    top:12%;
    left: 32.5%;
    overflow-y:auto;
    width: 35%;
    height: 80%;
    /*content: attr(data-dataSourceLength)*/
    /*background-color: black;*/
}
#table th, td{
    color: black;
}
#table #cellWithData{
    background-color: rgba(0, 0, 0, 0.83);
    border-bottom: 1px solid white;
    height: 150px;
}
#table #cellWithData #restaurantInfo img{
    position: relative;
    height: 75px;
    width: 75px;
}
#table #cellWithNoData{
    height: 692px;
}
#table #cellWithNoData #restaurantNoData img{
    position: absolute;
    height: 500px;
    width: 610px;
    top: 20%;
    left:7.2%;
}
mat-divider{
    background-color: red;

}
mat-list{
    position: absolute;
    top:25%;
}
.mat-table {
    height: 525px;
    overflow: auto; 
    width: 100%;
  }
  #table #cellWithData:hover{
    background-color: 
    rgba(10, 6, 6, 0.76);
  }
  mat-header-cell #title{
      position: relative;
      left: 38%;
      color: white;
      font-size: 20px;
  }
  mat-header-cell{
    background-color: rgba(0, 0, 0, 0.83);
  }
  #loading{
      background-color: white;
  }