  <mat-table [dataSource]="dataSources" id="table" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef><div id="title"> Restaurants Near You </div></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="test()">
        <div id="restaurantInfo">
          <div *ngIf="this.noData">{{element.noData}}</div>
          <div *ngIf="element.featured_image!='' && !this.noData"><img src="{{element.featured_image}}"></div>
          <div *ngIf="element.featured_image=='' && !this.noData"><img src="../../assets/images/noImage.png"></div>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

