:root {
    --myVar: ; 
}
#cuisine-card{
    position: absolute;
    top: 0px;
}
#table{
    position: absolute;
    top:12%;
    left: 32.5%;
    overflow-y:auto;
    width: 35%;
    height: 80%;
    
    /*content: attr(data-dataSourceLength)*/
    /*background-color: black;*/
}
#table th, td{
    color: black;
}
#table #cellWithData{
    background-color: rgba(0, 0, 0, 0.83);
    border-bottom: 1px solid white;
    height: 150px;
    position: relative;
}
#table #cellWithData #restaurantInfo img{
    position: absolute;
    height: 75px;
    width: 75px;
    top:55px;
}
#table #cellWithData #restaurantInfo #ratings{
  position: absolute;
  right:1%;
  top: 58%;
}
#table #cellWithData #restaurantInfo #numberRating{
  position: absolute;
  right:1%;
  top: 2.8%;
  color: red;
  font-weight: bold;
  
}
#table #cellWithData #restaurantInfo #address{
  position: absolute;
  left:35%;
  top: 43%;
  color: white;
}
#table #cellWithNoData{
    height: 692px;
}
#table #cellWithNoData #restaurantNoData img{
    position: absolute;
    height: 500px;
    width: 610px;
    top: 20%;
    left:7.2%;
}
mat-divider{
    background-color: red;

}
mat-list{
    position: absolute;
    top:25%;
}
.mat-table {
    height: 525px;
    overflow: auto; 
    width: 100%;
  }
  #table #cellWithData:hover{
    background-color: 
    rgba(10, 6, 6, 0.76);
  }
  mat-header-cell #title{
      position: relative;
      left: 38%;
      color: white;
      font-size: 20px;
  }
  mat-header-cell{
    background-color: rgba(0, 0, 0, 0.83);
  }
  .star {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    color: #d3d3d3;
  }
.full {
    color: red;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: red;}

  #loading{
      background-color: white;
  }
  #table mat-cell #restaurantInfo #elementInfo{
    color: white;
    position: absolute;
    left:4.5%;
    top:20px;
    font-weight: bold;
  }  
  
  #table mat-cell #restaurantInfo #elementType{
    color: white;
    position: absolute;
    right:3%;
    top:20px;
  }

  .lds-ellipsis {
    display: inline-block;
    position: absolute;
    left: 48%;
    top: 87.5%;
    width: 64px;
    height: 64px;

  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #dfc;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }