.tropicalMain{
    background-position: center;
    width: 2px;
    top: 500px;
}
img.tropicalMainImg {
    width:1920px; /* you can use % */
    height: 938px;
}
.toolbar{
    top: 0px;
    position: absolute;
}
.toolbar #logout{
    left: 93%;
    position: absolute;
}
#hw{
    top: 15px;
    left: 41%;
    position: absolute;
    font-family: 'Kunstler Script';
    font: 'Kunstler Script';
    font-size: 50px;
}
#rectangle{
    top:63px;
    left: 225px;
    width:400px;
    height:875px;
    background:rgba(0, 0, 0, 0.83);
    position: absolute;
}

.line{
    top: 290px;
    left: 250px;
    width: 350px;
    height: 50px;
    border-bottom: 1px solid white;
    position: absolute;
}
#locationText{
    position: absolute;
    color: white;
    top:425px;
    left: 318px;
    font-family: 'Bradley Hand ITC';
    font: 'Bradley Hand ITC';
    font-size: 20px;
}
#descriptionText{
    position: absolute;
    color: white;
    top:130px;
    left: 230px;
    font-family: 'Bradley Hand ITC';
    font: 'Bradley Hand ITC';
    font-size: 18px;
}
input[type=text] {
    top: 510px;
    width: 15%;
    left: 282px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    position: absolute;
}
input[type=text]:focus {
    border: 3px solid #F50505;
}
.search-button{
    position: absolute;
    top: 85%;
    left: 10%;
    width: 300px;

}
.search-button #search{
    width: 350px;
    position: absolute;
    left: 55px;
    color: yellow;
    box-shadow: 0 0 1px 1px rgba(0.2, 0.2, 0.2, 0.99);
    box-sizing: border-box;
}
#invalidCityCheck{
    position: absolute;
    top:75%;
    left: 12.5%;
}
#hello{
    position: absolute;
    top: 50%;
    left: 50%;

}
#spinner{
    position: absolute;
    top: 50%;
    left: 50%;
}
#cuisine-card{
    position: absolute;
    top:10%;
    left: 55%;
    height: 86%;
    width: 500px;
}
#countryImage{
    position: relative;
    top: 0%;
    left: 0%;
    width: 70px;
    height: 47px;
}
app-cuisine-table{
    height: 400px;
    overflow: auto; 
    width: 100%;
    position: relative;
}