<div class="wrapper">
  <div class="tropicalMain">
    <img class="tropicalMainImg" src="../../assets/images/hotelMain.jpg"> 
  </div>
</div>

<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <button mat-button id="logout">Logout</button>
  </mat-toolbar-row>
  <p id="hw">Welcome to Find your Restaurant</p>
</mat-toolbar>
<div id="rectangle"></div>
<div class="line"></div>
<div id="square"></div>

<form id="locationForm" name="locationF" #locationForm="ngForm" (ngSubmit)="callSubmit(locationForm)">
  <div id="descriptionText">
    <p align="center">
      This app allows you to search for Restaurants <br/> near you
      based on the type (ie Chinese, Bakery),  <br/> you can also specify
      the distance of the Restaurants  <br/> based on your current location,
      and view reviews  <br/> and menus of the Restaurants that you are <br/> interested in.
    </p>
  </div>
  <div id="locationText">
    <p>Enter a City to get started</p>
  </div>
  <input type="text" id="location" name="location" [formControl]="locationControl" placeholder="Enter Location" #search required>
  <mat-error class="example-full-width" id="invalidCityCheck" *ngIf="this.isCityExist == false || this.isPlaceFound == false">
    City is <strong>invalid</strong> or cannot find Restaurants in this <strong>city</strong>

  </mat-error>
  
  <div class="search-button">
      <button mat-flat-button id="search" [disabled]="locationControl.errors?.required">Search for Restaurants</button>  
  </div>
</form>

<mat-spinner id="spinner" *ngIf="this.loading == 1" color="warn"></mat-spinner>

<mat-card id="cuisine-card" *ngIf="this.getCuisineSuccess">
  <mat-header>
    <img mat-card-image id="countryImage" src="{{this.country_pic}}"> 
  </mat-header>
  <app-cuisine-table></app-cuisine-table>   
</mat-card>
