<div class="wrapper">
  <div class="tropicalMain">
    <img class="tropicalMainImg" src="../../assets/images/hotelMain.jpg"> 
  </div>
</div>
<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <button mat-button id="logout">Logout</button>
  </mat-toolbar-row>
  <p id="hw">Welcome to Find your Restaurant</p>
</mat-toolbar>
<div id="rectangle"></div>
<div class="line"></div>

<form id="locationForm">
  <div id="descriptionText">
    <p align="center">
      This app allows you to search for Restaurants <br/> near you
      based on the type (ie Chinese, Bakery),  <br/> you can also specify
      the distance of the Restaurants  <br/> based on your current location,
      and view reviews  <br/> and menus of the Restaurants that you are <br/> interested in.
    </p>
  </div>
  <div id="locationText">
    <p>Enter a Location to get started</p>
  </div>
  <input type="text" id="location" name="fname" placeholder="Enter Location">
</form>
<div class="search-button">
<button mat-flat-button id="search">Search</button> 
</div>